[tool.ruff]
required-version = ">=0.11.2"

# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
]

[tool.ruff.lint]
ignore = [
"FBT001",
"PLR0913",
"TC001",
"TC002",
"TC003",
"SLF001",
"FA102",
"FA100",
"PTH",
"FBT002",
"ISC001",
"COM812",
"T201",
"ANN201",
"ANN202",
"B008",
"BLE001",
"C901",
"D100",
"D101",
"D102",
"D103",
"D104",
"D107",
"D205",
"PLR2004",
"PLR0912",
"PLR0915",
"RUF012",
"G004",
"C417",
"PD010",
"E722",
"E741",
"F507",
]
extend-select = ["I"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["E402"]
"**/script.py" = ["F821", "F403", "F405"]